<div class="sidebar active">
		<ul>
			<li psui-accordion-element title="{{'menu.person.title' | translate}}" icon-class="glyphicon-user">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/people#views/fullperson'|uriescape}}"><span>{{'menu.new.person.lower.level' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/people#views/fullperson'|uriescape}}"><span>{{'menu.search.person.lower.level' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/people#views/player'|uriescape}}"><span>{{'menu.search.player.lower.level' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/people#views/officer'|uriescape}}"><span>{{'menu.search.officer.lower.level' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/people#views/referee'|uriescape}}"><span>{{'menu.search.referee.lower.level' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/people#views/coach'|uriescape}}"><span>{{'menu.search.coach.lower.level' | translate}}</span></a></li>
					<!--
					<li><a href="#/search/{{'uri://registries/statistic'|uriescape}}"><span>{{'menu.search.statistic.lower.level' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/medic'|uriescape}}"><span>{{'menu.search.medic.lower.level' | translate}}</span></a></li>
					-->
				</ul>
			</li>
			<li psui-accordion-element title="{{'menu.stadium.title' | translate}}" icon-class="glyphicon-flag">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/stadiums#views/stadium'|uriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/stadiums#views/stadium'|uriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="{{'menu.club.title' | translate}}" icon-class="glyphicon-home">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/organizations#views/club'|uriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/organizations#views/club'|uriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="{{'menu.association.title' | translate}}" icon-class="glyphicon-briefcase">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/organizations#views/association'|uriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/organizations#views/association'|uriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
				</ul>
			</li>
			
			<li psui-accordion-element title="{{'menu.transfer.title' | translate}}" icon-class="glyphicon-forward">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/transfers#views/transfers'|uriescape}}"><span>{{'menu.new.lower.level.she' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/transfers#views/transfers'|uriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
				</ul>
			</li>
			
			<li psui-accordion-element title="{{'menu.roster.title' | translate}}" icon-class="glyphicon-list-alt">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/rosters#views/rosters'|uriescape}}"><span>{{'menu.new.lower.level.she' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/rosters#views/rosters'|uriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="{{'menu.competition.title' | translate}}" icon-class="glyphicon-star">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/competitions#views/competitions'|uriescape}}"><span>{{'menu.new.competition.lower.level.she' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/competitions#views/competitions'|uriescape}}"><span>{{'menu.search.competition.lower.level' | translate}}</span></a></li>
					<li><a href="#/registry/new/{{'uri://registries/competitionPart#views/competitionPart'|uriescape}}"><span>{{'menu.new.competitionPart.lower.level.she' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/competitionPart#views/competitionPart'|uriescape}}"><span>{{'menu.search.competitionPart.lower.level' | translate}}</span></a></li>
					<li><a href="#/registry/new/{{'uri://registries/schedule#views/schedule'|uriescape}}"><span>{{'menu.new.schedule.lower.level' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/schedule#views/schedule'|uriescape}}"><span>{{'menu.search.schedule.lower.level' | translate}}</span></a></li>
					<li><a href="#/registry/new/{{'uri://registries/refereeReports#views/refereeReports'|uriescape}}"><span>{{'menu.refereeReport.new.lower.level' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/refereeReports#views/refereeReports'|uriescape}}"><span>{{'menu.refereeReport.search.lower.level' | translate}}</span></a></li>
					<li><a href="#/registry/new/{{'uri://registries/nominations#views/nominations'|uriescape}}"><span>{{'menu.nomination.new.lower.level' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/nominations#views/nominations'|uriescape}}"><span>{{'menu.nomination.search.lower.level' | translate}}</span></a></li>
					<li><a href="#/registry/new/{{'uri://registries/seasons#views/seasons'|uriescape}}"><span>{{'menu.new.season.lower.level' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/seasons#views/seasons'|uriescape}}"><span>{{'menu.search.season.lower.level' | translate}}</span></a></li>
					<li><a href="#/registry/new/{{'uri://registries/ageCategory#views/ageCategory'|uriescape}}"><span>{{'menu.new.ageCategory.lower.level.she' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/ageCategory#views/ageCategory'|uriescape}}"><span>{{'menu.search.ageCategory.lower.level' | translate}}</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="{{'menu.my.profile.title' | translate}}" icon-class="glyphicon-user">
				<ul>
					<li><a href="#/personal-page"><span>{{'menu.profile.lower.level' | translate}}</span></a></li>
					<li><a href="#/personal-change-password"><span>{{'menu.change.password.lower.level' | translate}}</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="{{'menu.permissions.title' | translate}}" icon-class="glyphicon-lock">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/security#groupmaster'|uriescape}}"><span>{{'menu.new.group.lower.level' | translate}}</span></a></li>
					<li><a href="#/security/group/edit/"><span>{{'menu.permission.groups.lower.level' | translate}}</span></a></li>
					<li><a href="#/security/user/edit"><span>{{'menu.user.permissions.lower.level' | translate}}</span></a></li>
					<li><a href="#/registry/new/{{'uri://registries/security#profilesmaster'|uriescape}}"><span>{{'menu.new.profile.lower.level' | translate}}</span></a></li>
					<li><a href="#/security/profile/edit"><span>{{'menu.profiles.lower.level' | translate}}</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="{{'menu.statistics.title' | translate}}" icon-class="glyphicon-stats">
				<ul>
					<li><a href="#/statistics"><span>{{'menu.statistics.show.title' | translate}}</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="{{'menu.schemas.title' | translate}}" icon-class="glyphicon-info-sign">
				<ul>
					<li><a href="#/schema/edit"><span>{{'menu.schema.list.lower.level' | translate}}</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="Web Portál" icon-class="glyphicon-info-sign">
				<ul>
					<li><a href="#/portal/edit"><span>Editovať</span></a></li>
					<li><a href="#/portal/menu"><span>Menu</span></a></li>
				</ul>
			</li>
		</ul>
</div>
