<!DOCTYPE html>
<html lang="sk">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>SZH - index</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="copyright" content="Unionsoft" />
	<meta name="author" content="" />
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/portal/css/standalone.css">
	<link rel="stylesheet" type="text/css" href="/portal/css/portal.css">
	<link rel="stylesheet" type="text/css" href="/portal/css/font-awesome.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
	<div id="portal-main-container">
		<div id="portal-header-container">
			<header id="portal-main-header">
				<div id="mobile-menu-toggler">
					<a href="" class="toogle-menu" >
						<i class="fa fa-align-justify"></i>
					</a>
				</div>
				<h1>Slovenský Zväz Hádzanej</h1>
				<a href="/"><img class="portal-logo" src="/portal/img/portal-logo.png" alt="logo" title="SLOVENSKÝ ZVÄZ HÁDZANEJ" /></a>
				<div id="portal-main-header-logo-area">
					<img src="/portal/img/logo_sk_ol_vybor.png" alt="logo" title="Slovenský Olympijský Výbor" width="70px" height="70px" style="margin-left: 1px;"/>
					<img src="/portal/img/logo_ehf.png" alt="logo" title="EHF" width="70px" height="70px" />
					<img src="/portal/img/logo_ihf.png" alt="logo" title="IHF" width="70px" height="70px" />
				</div>
			</header>
		</div>
		<div id="portal-menu-panel-container">
			{% block menu %}
				<div id="portal-menu-panel">
					{%for k in menu %}
						<div class="portal-menu-entry"><a href="/article/{{k.aid}}">{{k.name}}</a>
							<div class="portal-sub-menu">
								{% for s in k.subElements %}
									<div><a href="/article/{{s.aid}}">{{s.name}}</a></div>
								{% endfor %}
							</div>
						</div>
					{% endfor %}
				</div>
			{% endblock menu %}
		</div>
		<div id="portal-content-container">
			<div id="portal-main-content">
				{% for widget in article.data %}
					<article class="portal-article {{ widget.meta.type }} portal-article-{{ widget.meta.name }}">
						{% set templatePath = "widgets/" + widget.meta.type + ".widget" %}
						{% include templatePath with widget only %}
					</article>
				{% endfor %}
			</div>
			<div id="portal-side-content">
				<section class="portal-side-panel-logos">
					<img src="/portal/img/logo_seha.png" height="251px" align="middle"></img>
					<div class="portal-side-panel-logos-sep"></div>
					<img src="/portal/img/sk_sien_slavy.png" height="251px" align="middle"></img>
				</section>
				<section class="portal-side-panel x-portal-competition-results">
					<header>Poradie</header>
					<div style="width:100%;"><select style="width:100%; padding-top: 5px; padding-bottom: 5px; padding-left: 36px; margin-top: 5px; margin-bottom: 5px;" class="x-portal-competition-selector"><option>Extraliga - Muži</option></select></div>

					<table style="width:100%; padding-top: 1px;" class="rowtable">
					</table>
				</section>
				<section class="portal-side-panel">
					<div style="text-align: center;"><img src="/portal/img/mskolsr.png"></img></div>
					<div style="text-align: center; padding-top: 5px;">ROK 2014 719 200,- EUR</div>
				</section>
				<section class="portal-side-panel partneri">
					<header>Partneri</header>
					<article>
						<div style="text-align: center; padding-top: 5px;">Hlavný reklamný partner reprezentačného družstva žien</div>
						<div style="text-align: center; padding-top: 5px; padding-left: 10px; height: 200px; vertical-align: middle; display: table-cell;"><img style="" src="/portal/img/retic.png"></img></div>
					</article>
					<article>
						<div style="text-align: center; padding-top: 5px;">Reklamný partner reprezentačného družstva</div>
						<div style="text-align: center; padding-top: 5px; padding-left: 10px; height: 200px; vertical-align: middle; display: table-cell;"><img style="" src="/portal/img/logo-adidas.png"></img></div>
					</article>
					<article>
						<div style="text-align: center; padding-top: 5px;">Reklamný partner </div>
						<div style="text-align: center; padding-top: 5px; padding-left: 10px; height: 200px; vertical-align: middle; display: table-cell;"><img style="" src="/portal/img/logo-sport.png"></img></div>
					</article>
					<article>
						<div style="text-align: center; padding-top: 5px;">Reklamný partner </div>
						<div style="text-align: center; padding-top: 5px; padding-left: 10px; height: 200px; vertical-align: middle; display: table-cell;"><img style="" src="/portal/img/sita.png"></img></div>
					</article>
					<article>
						<div style="text-align: center; padding-top: 5px;">Reklamný partner </div>
						<div style="text-align: center; padding-top: 5px; padding-left: 10px; height: 200px; vertical-align: middle; display: table-cell;"><img style="" src="/portal/img/ministerstvosvvs.png"></img></div>
					</article>
				</section>
				<section class="portal-side-panel">
					<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FSlovenskyZvazHadzanej&amp;width=300px&amp;height=590&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300pxpx; height:590px;" allowTransparency="true"></iframe>
				</section>
			</div>
		</div>
	</div>
	<div id="footer-container">
		<div id="portal-club-logos-panel-container">
			<div id="portal-club-logos-panel">
				<div class="portal-club-logo portal-club-logo-1" data-url="http://www.mhk.sk/"></div>
				<div class="portal-club-logo portal-club-logo-2" data-url="http://www.sskpresov.sk/"></div>
				<div class="portal-club-logo portal-club-logo-3" data-url="http://www.sporta.sk/"></div>
				<div class="portal-club-logo portal-club-logo-4" data-url="http://www.tjstart.sk/"></div>
				<div class="portal-club-logo portal-club-logo-5" data-url="http://www.hkslavia.sk/"></div>
				<div class="portal-club-logo portal-club-logo-6" data-url="http://www.salahandball.sk/"></div>
				<div class="portal-club-logo portal-club-logo-7" data-url="http://www.hkmsalahandball.sk/"></div>
				<div class="portal-club-logo portal-club-logo-8" data-url="http://www.hoslovanmodra.sk/"></div>
				<div class="portal-club-logo portal-club-logo-9" data-url="http://www.hadzanamartin.sk/"></div>
				<div class="portal-club-logo portal-club-logo-10" data-url="http://www.skpbratislava.sk/"></div>
				<div class="portal-club-logo portal-club-logo-11" data-url="http://www.iuventa-zhk.chemkostavarena.sk/?stranka=portal_marmasoft"></div>
				<div class="portal-club-logo portal-club-logo-12" data-url="http://www.hadzanamartin.sk/"></div>
				<div class="portal-club-logo portal-club-logo-13" data-url="http://www.msk.sk/"></div>
				<div class="portal-club-logo portal-club-logo-14" data-url="http://www.tatranpresov.sk/"></div>
			</div>
		</div>
		<div>
			<div id="portal-menu-bottom-container">
				{% block menu %}
					<div id="portal-menu-bottom-panel">
						<div class="portal-menu-bottom-entry">
							<img class="portal-logo" src="/portal/img/portal-logo.png" width="87px" height="50px" alt="logo" title="SLOVENSKÝ ZVÄZ HÁDZANEJ" />
						</div>
						{%for k in menu %}
							<div class="portal-menu-bottom-entry">
								<a class="portal-menu-bottom-entry-head" href="/article/{{k.aid}}">{{k.name}}</a>
								<div class="portal-bottom-sub-menu">
									{% for s in k.subElements %}
										<div><a href="/article/{{s.aid}}">{{s.name}}</a></div>
									{% endfor %}
								</div>
							</div>
						{% endfor %}
					</div>
				{% endblock menu %}
			</div>
		</div>
		<header id="main-footer">
			Copyright &copy; 2015 SZH - Slovenský zväz hádzanej<br/>
			Všetky práva vyhradené<br/>
			<a href="#">Kontakt</a> / <a href="">Pomoc</a> / <a href="">FAQ</a>
		</header>
	</div>
</body>
<script>
	$(function() {
		$('.portal-club-logo').click(function () {
			window.open($(this).data('url'), '_blank');
		});
		$('#portal-menu-panel-container').removeClass('mobile-visible');
		var mainMenuHidden = true;
		$('.toogle-menu').click(function (e) {
			if (mainMenuHidden) {
				$('#portal-menu-panel-container').addClass('mobile-visible');
				mainMenuHidden = false;
			} else {
				$('#portal-menu-panel-container').removeClass('mobile-visible');
				mainMenuHidden = true;
			}
			e.stopPropagation();
			return false;
		});
		$('body').click(function () {
			$('#portal-menu-panel-container').removeClass('mobile-visible');
			mainMenuHidden = true;
		});
		$('.x-portal-widget-showcase-view').each(function() {
			$(this).bind('showcase-next', function() {
				var idx = $(this).data('showcase-current') || 0;

				$(this).find('article').eq(idx).fadeOut();

				if (idx == $(this).find('article').length - 1) {
					idx = 0;
				} else {
					++idx;
				}

				$(this).find('article').eq(idx).fadeIn();

				$(this).data('showcase-current', idx);

				var navigationEl = $(this).next();
				navigationEl.find('a.item').removeClass('active');
				navigationEl.find('a.item').eq(idx).addClass('active');

				setTimeout(function() {
					$('.x-portal-widget-showcase-view').triggerHandler('showcase-next');
				}, 4000);
			});

		}).triggerHandler('showcase-next');
		$('.x-portal-widget-showcase-navigation a.prev').click(function(e) {
			var showcaseEl = $(this).parent().prev();
			var navigationEl = $(this).parent();
			var idx = showcaseEl.data('showcase-current') || 0;
			showcaseEl.find('article').eq(idx).fadeOut();
			idx = idx - 1;
			if (idx < 0) {
				idx = $('.x-portal-widget-showcase-view article').size()-1;
			}
			showcaseEl.find('article').eq(idx).fadeIn();
			showcaseEl.data('showcase-current', idx);
			navigationEl.find('a.item').removeClass('active');
			navigationEl.find('a.item').eq(idx).addClass('active');
			e.stopPropagation();
			return false;
		});
		$('.x-portal-widget-showcase-navigation a.item').click(function(e) {
			var showcaseEl = $(this).parents('.x-portal-widget-showcase-navigation').prev();
			var navigationEl = $(this).parents('.x-portal-widget-showcase-navigation');
			var idx = showcaseEl.data('showcase-current') || 0;
			showcaseEl.find('article').eq(idx).fadeOut();
			idx = $(this).index();
			showcaseEl.find('article').eq(idx).fadeIn();
			showcaseEl.data('showcase-current', idx);
			navigationEl.find('a.item').removeClass('active');
			navigationEl.find('a.item').eq(idx).addClass('active');
			e.stopPropagation();
			return false;
		});
		$('.x-portal-widget-showcase-navigation a.next').click(function(e) {
			var showcaseEl = $(this).parent().prev();
			var navigationEl = $(this).parent();
			var idx = showcaseEl.data('showcase-current') || 0;
			showcaseEl.find('article').eq(idx).fadeOut();
			idx = (idx+1) % $('.x-portal-widget-showcase-view article').size();
			showcaseEl.data('showcase-current', idx);
			showcaseEl.find('article').eq(idx).fadeIn();
			navigationEl.find('a.item').removeClass('active');
			navigationEl.find('a.item').eq(idx).addClass('active');
			e.stopPropagation();
			return false;
		});

		$('.x-portal-widget-gallery').each(function(index) {

			$(this).find('.x-portal-widget-gallery-viewer-window-images').append(
				$(this).find('.x-portal-widget-gallery-thm > img').clone()
			);

			$(this).bind('gallery-next', function(e, idx) {
				
			});

			$(this).bind('gallery-show', function(e, idx) {
				$(this).find('.x-portal-widget-gallery-viewer').css('display', 'table-cell');
				$(this).data('gallery-current', idx);

				$(this).find('.x-portal-widget-gallery-viewer-window-images > img').eq(idx).fadeIn();
			});

			$(this).bind('gallery-next', function(e) {
				var idx = $(this).data('gallery-current');

				$(this).find('.x-portal-widget-gallery-viewer-window-images > img').eq(idx).fadeOut();

				if (idx == $(this).find('.x-portal-widget-gallery-viewer-window-images > img').length - 1) {
					idx = 0;
				} else {
					++idx;
				}

				$(this).find('.x-portal-widget-gallery-viewer-window-images > img').eq(idx).fadeIn();

				$(this).data('gallery-current', idx);
			});

			$(this).bind('gallery-prev', function(e) {
				var idx = $(this).data('gallery-current');

				$(this).find('.x-portal-widget-gallery-viewer-window-images > img').eq(idx).fadeOut();

				if (idx == 0) {
					idx = $(this).find('.x-portal-widget-gallery-viewer-window-images > img').length - 1;
				} else {
					--idx;
				}

				$(this).find('.x-portal-widget-gallery-viewer-window-images > img').eq(idx).fadeIn();

				$(this).data('gallery-current', idx);
			});

			$(this).bind('gallery-close', function(e, idx) {
				var idx = $(this).data('gallery-current');

				$(this).find('.x-portal-widget-gallery-viewer-window-images > img').eq(idx).hide();
				$(this).find('.x-portal-widget-gallery-viewer').fadeOut();
			});

			$(this).find('.x-portal-widget-gallery-close-btn').on('click', function() {
				$(this).closest('.x-portal-widget-gallery').triggerHandler('gallery-close');
			});

			$(this).find('.x-portal-widget-gallery-next-btn').on('click', function() {
				$(this).closest('.x-portal-widget-gallery').triggerHandler('gallery-next');
			});

			$(this).find('.x-portal-widget-gallery-prev-btn').on('click', function() {
				$(this).closest('.x-portal-widget-gallery').triggerHandler('gallery-prev');
			});

			$(this).find('.x-portal-widget-gallery-thm > img').each(function(idx){
				$(this).on('click', function(evt) {
					$(this).closest('.x-portal-widget-gallery').triggerHandler('gallery-show', [idx]);
				});
			});
		});

		$('.x-portal-competition-results').bind('competition-results-show', function() {
			var cid = $(this).find('.x-portal-competition-selector').val();
			var that = this;

			if (cid) {
				$.get('/competition/results/'+cid, function(data) {
					data.sort(function(a,b) { return b.points - a.points;});
					
					var table = $(that).find('table');

					table.empty();

					var counter = 0;
					for (var i in data) {

						var e = $('<tr><td style="text-align:right; padding-right: 5px;">'+ (++counter) +'</td><td style="font-weight: bold;">'+ data[i].name +'</td><td style="text-align: right;">'+data[i].matches+'z</td><td style="text-align: right;">'+data[i].points+'b</td><tr>');

						table.append(e);
					}
					updateMainContentHeight();
				});
			}
		});

		$('.x-portal-competition-results').find('.x-portal-competition-selector').on('change', function() {
			$(this).closest('.x-portal-competition-results').trigger('competition-results-show');
		});

		$('.x-portal-competition-matches').bind('competition-matches-show', function() {
			var cid = $(this).find('.x-portal-competition-selector').val();
			var that = this;

			if (cid) {
				$.get('/competition/matches/'+cid, function(data) {
					function formatDate(d) {
						return d.substr(6,2) + '.' +d.substr(4,2) + '.' + d.substr(0,4);
					}

					var tblContainer = $(that).find('.x-portal-widget-match-results-table');

					tblContainer.empty();

					var leftDiv = $('<div style="float: left;"></div>');
					var rightDiv = $('<div style="float: right;"></div>');
					tblContainer.append(leftDiv);
					tblContainer.append(rightDiv);

					var lastDate = null;
					var position = 0;
					for (var i in data) {
						var currDate = formatDate(data[i].matchDate);
						if (lastDate !== currDate) {
							var table = $('<table ></table>');
							if (position <= Math.ceil(data.length/2)) {
								leftDiv.append(table);
							} else {
								rightDiv.append(table);
							}
							table.append('<tr><td colspan="3" class="x-portal-results-date">'+currDate+'</td></tr>');
							lastDate = currDate;
							position++;
						}
						position++;

						var e = $('<tr><td class="x-portal-results-left-club">' + data[i].homeName + '</td><td class="x-portal-results-hyphen">'+(data[i].fullTimeScoreHome || '-')+ '&nbsp;-&nbsp;'+(data[i].fullTimeScoreAway || '-')+'</td><td class="x-portal-results-right-club">' + data[i].guestName + '</td></tr>');

						if (data[i].webNo) {
							e.on('click', null, {webNo: data[i].webNo}, function(evt) {
								window.open('http://szhonline.sk/onlinex.aspx?cislo=' + evt.data.webNo);
							});
							e.addClass('x-portal-results-selectable');
						}
						table.append(e);
					}
				});
			}
		});

		$('.x-portal-competition-matches').find('.x-portal-competition-selector').on('change', function() {
			$(this).closest('.x-portal-competition-matches').trigger('competition-matches-show');
		});
		//get competitions
		$.get('/competition/list', function(data) {
			data.sort(function(a,b) {if (a.name > b.name) {return 1;} else if (a.name == b.name) {return 0;} else {return -1;};})
			$('.x-portal-competition-selector').empty();
			for (var i in data) {
				$('.x-portal-competition-selector').append('<option value="'+data[i].id+'">'+ data[i].name +'</option>').trigger('change');;
			}
		});

		$('.portal-side-panel.partneri').each(function() {
			$(this).bind('showcase-next', function() {
				var idx = $(this).data('showcase-current') || 0;

				$(this).find('article').eq(idx).fadeOut();

				if (idx == $(this).find('article').length - 1) {
					idx = 0;
				} else {
					++idx;
				}

				$(this).find('article').eq(idx).fadeIn();

				$(this).data('showcase-current', idx);

				setTimeout(function() {
					$('.portal-side-panel.partneri').triggerHandler('showcase-next');
				}, 3000);
			});
		}).triggerHandler('showcase-next');
		updateMainContentHeight();
		$(window).resize(updateMainContentHeight);
	});

	function updateMainContentHeight() {
		if (parseInt($(window).width()) <= 400) {
			$('#portal-main-content').css('min-height', '0px');
		} else {
			$('#portal-main-content').css('min-height', parseInt($('#portal-side-content').height()) + 20);
		}
		
	}
	$('.x-portal-widget-category-prev-btn').click(function () {
		updateCategoryNextPrev(-1, 'category');
	});
	$('.x-portal-widget-category-next-btn').click(function () {
		updateCategoryNextPrev(1, 'category');
	});
	$('.x-portal-widget-overview-prev-btn').click(function () {
		updateCategoryNextPrev(-1, 'overview');
	});
	$('.x-portal-widget-overview-next-btn').click(function () {
		updateCategoryNextPrev(1, 'overview');
	});

	function updateCategoryNextPrev(step, type) {
		var pathParts = window.location.pathname.split('/');
		if (window.location.pathname && window.location.pathname.indexOf('article') > -1) {
			var currPage = 0;
			if (pathParts && pathParts.length > 3) {
				currPage = parseInt(pathParts[3]);
			}
			currPage = currPage + step;
			if (currPage < 0) {
				currPage = 0;
			}
			var nextpage = parseInt($('.x-portal-widget-' + type + '-navigation').data('nextpage'));
			if (currPage >= nextpage) {
				currPage = nextpage;
			}
			pathParts[3] = currPage;
			window.location.pathname = pathParts.join('/');
		} else {
			var currPage = 0;
			if (pathParts && pathParts.length > 1 && pathParts[1]) {
				currPage = parseInt(pathParts[1]);
			}
			currPage = currPage + step;
			if (currPage < 0) {
				currPage = 0;
			}
			var nextpage = parseInt($('.x-portal-widget-' + type + '-navigation').data('nextpage'));
			if (currPage >= nextpage) {
				currPage = nextpage;
			}
			pathParts[1] = currPage;
			window.location.pathname = pathParts.join('/');
		}
	}
</script>
</html>
