@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic&subset=latin,latin-ext);

#portal-main-container {
	background-color: silver;
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
	color: gray;
	min-width: 1006px;
}

#portal-header-container {
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #CB2225;	
}

#portal-main-header {
	position: relative;
	width: 1006px;
	margin: 0 auto;
	background-color: #CB2225;
}

#portal-main-header h1{
	color: #ffffff;
	position: absolute;
	right: 0;
	bottom: 0;
}

#portal-club-logos-panel-container {
	background-color: white;
}

#portal-club-logos-panel-container {
	background-color: white;
}

#portal-club-logos-panel {
	width: 1006px;
	margin: 0 auto;
	display: table;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: white;
}

#portal-club-logos-panel .portal-club-logo {
	background-repeat: no-repeat;
	background-size: 26px 26px;
	background-position: center center;
	height: 30px;
	width: 30px;
	display: table-cell;
}

#portal-club-logos-panel .portal-club-logo:HOVER {
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: center center;
	height: 30px;
	width: 30px;
	display: table-cell;
}

#portal-club-logos-panel .portal-club-logo-1 {
		background-image: url("/portal/img/club1.jpg");
}
#portal-club-logos-panel .portal-club-logo-2 {
		background-image: url("/portal/img/club2.png");
}
#portal-club-logos-panel .portal-club-logo-3 {
		background-image: url("/portal/img/club3.png");
}
#portal-club-logos-panel .portal-club-logo-4 {
		background-image: url("/portal/img/club4.png");
}
#portal-club-logos-panel .portal-club-logo-5 {
		background-image: url("/portal/img/club5.png");
}
#portal-club-logos-panel .portal-club-logo-6 {
		background-image: url("/portal/img/club6.png");
}
#portal-club-logos-panel .portal-club-logo-7 {
		background-image: url("/portal/img/club7.png");
}
#portal-club-logos-panel .portal-club-logo-8 {
		background-image: url("/portal/img/club8.png");
}
#portal-club-logos-panel .portal-club-logo-9 {
		background-image: url("/portal/img/club9.png");
}
#portal-club-logos-panel .portal-club-logo-10 {
		background-image: url("/portal/img/club10.png");
}
#portal-club-logos-panel .portal-club-logo-11 {
		background-image: url("/portal/img/club11.png");
}
#portal-club-logos-panel .portal-club-logo-12 {
		background-image: url("/portal/img/club12.jpg");
}
#portal-club-logos-panel .portal-club-logo-13 {
		background-image: url("/portal/img/club13.png");
}
#portal-club-logos-panel .portal-club-logo-14 {
		background-image: url("/portal/img/club14.png");
}

#portal-menu-panel-container {
	background-color: #CB2225;
	border-top: 2px white solid;
	box-shadow: 0px 3px 3px gray;
}

#portal-menu-panel {
	width: 1006px;
	margin: 0 auto;
	padding-top: 0px;
	padding-bottom: 0px;
	color: white;
	
}

#portal-menu-panel .portal-menu-entry {
	display: inline-block;
	position: relative;
	padding-top: 2px;
	padding-bottom: 2px;
}

#portal-menu-panel .portal-menu-entry:last-child {
	display: inline-block;
	position: relative;

}

#portal-menu-panel .portal-menu-entry .portal-sub-menu {
	position: absolute;
	top: 100%;
	left: -0px;
	max-height: 0;
	overflow: hidden;
	margin-top: 0px;
	color: black;
	background-color: white;
	box-shadow: 3px 3px 10px gray;
	z-index: 3;
	transition: all 0.5s ease 0;
	-webkit-transition: all 0.5s ease 0;
}

#portal-menu-panel .portal-menu-entry .portal-sub-menu DIV {
	padding-right: 20px;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top: 1px silver solid;
	white-space: nowrap;
	cursor: pointer;
	color: black;
}

#portal-menu-panel .portal-menu-entry .portal-sub-menu DIV A {
	color: black;
	padding-left: 0;
	font-weight: normal;
}

#portal-menu-panel .portal-menu-entry .portal-sub-menu DIV:hover {
	color: white;
	background: #CB2225;
}

#portal-menu-panel .portal-menu-entry .portal-sub-menu DIV:hover A {
	color: white;
	background: #CB2225;
}

#portal-menu-panel .portal-menu-entry .portal-sub-menu DIV:first-child {
	border-top: 4px red solid;
}

#portal-menu-panel .portal-menu-entry A {
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding-right: 20px;
	padding-left: 20px;
	cursor: pointer;
}

#portal-menu-panel .portal-menu-entry A:HOVER {
	text-decoration: none;
	font-weight: bold;
}

#portal-menu-panel .portal-menu-entry:HOVER .portal-sub-menu {
	max-height: 1000px;
	overflow: hidden;
	transition: all 0.5s ease 0.5s;
	-webkit-transition: all 0.5s ease 0.5s;
}

#portal-content-container {
	width: 1006px;
	margin: 0 auto;
	padding-top: 20px;
}

#portal-main-content {
	display: table-cell;
	vertical-align: top;
}

#portal-headlines-section {
	background-color: white;
	padding: 10px;
	display: inline-block;
	width: 634px;
	box-shadow: 0px 3px 3px gray;
	margin-bottom: 10px;
}


#portal-content-container H1 {
	padding-bottom: 10px;
	font-style: italic;
	font-size: 180%;
	color: #CB2225;
	text-decoration: none;
	text-transform: uppercase;
}

#portal-content-container .abstract {
	font-style: italic;
	font-size: 120%;
}

#portal-content-container A {
	text-decoration: none;
	cursor: pointer;
}

#portal-side-content {
	display: table-cell;
	vertical-align: top;
	padding-left: 10px;
}

.portal-side-panel {
	background-color: white;
	padding: 10px;
	width:300px;
	box-shadow: 0px 3px 3px gray;
	margin-bottom: 10px;
}

.portal-side-panel HEADER {
	background-color: #CB2225;
	color: white;
	font-weight: bold;
	padding: 5px;
	border-bottom: 4px red solid;
}

.portal-side-panel.partneri {
	position: relative;
	height: 334px;
}

.portal-side-panel.partneri article {
	position: absolute;
	left: 0px;
	top: 44px;
	background: white;
	display: none;
}

#footer-container {
	font-family: 'Source Sans Pro', sans-serif;
	min-width: 1006px;
	padding-top: 0;
	padding-bottom: 2px;
	background-color: #CB2225;	
	border-top: 2px red solid;
	color: white;
}

#main-footer {
	position: relative;
	width: 916px;
	margin: 0 auto;
	background-color: #CB2225;
}

#portal-article {
	background-color: white;
	padding: 10px;
	display: inline-block;
	width: 656px;
	box-shadow: 0px 3px 3px gray;
	margin-bottom: 10px;
}

#portal-article H1 {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 180%;
	margin-left: 0;
	font-style: normal;
	margin-top: 0;
	margin-bottom: 10px;
}
#portal-article .x-portal-widget-category H1 {
	padding-bottom: 0px;
}
#portal-article .abstract {
	padding-bottom: 20px;
	font-style: italic;
	font-size: 120%;
	text-align: justify;
}

#portal-article figure {
	padding-bottom: 10px;
	margin: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}

#portal-article p {
	padding-top: 0;
	margin-top: 0;
}

.x-portal-widget-gallery {
	text-align: left;
	border:1px solid white;
	line-height: 1px;
	padding-bottom: 10px;
}

#portal-article .x-portal-widget-gallery-thm {
	width: 162px;
	height: 123px;
	padding: 0;
	margin:0;
	border: 0;
	cursor: pointer;
	display:inline-block;
	border:0;
	padding-left: 1px;
	padding-bottom: 1px;
}
#portal-article .x-portal-widget-gallery-thm img {
	width: 100%;
	height: 100%;
	border: 0;
	display: block;
}

.x-portal-widget-gallery-viewer {
	position: fixed;
	z-index: 100;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.3);
	display: none;
	text-align: center;
	vertical-align: middle;
	box-shadow: 0px 3px 3px gray;
}

.x-portal-widget-gallery-viewer-window {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -256px;
	margin-left: -338px;
	height: 538px;
	width: 676px;
	background-color: white;
	font-size: 20px;
	font-weight: bold;
}

.x-portal-widget-gallery-viewer-window i {
	cursor: pointer;
}

.x-portal-widget-gallery-viewer-window i:HOVER {
	color: black;
}

.x-portal-widget-gallery-viewer-window-images {
	height: 492px;
	width: 656px;
	position: relative;
	padding: 10px;
}

.x-portal-widget-gallery-viewer-window-images img {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 656px;
	height: 492px;
	display: none;
}

.x-portal-widget-category ARTICLE {
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: auto;
}

.x-portal-widget-category H1 {
	margin-bottom: 0;
	font-size: 140% !important;
	padding-top: 0 !important;
}

.x-portal-widget-category H1:HOVER {
	color: red !important;
}

.x-portal-widget-category IMG {
	margin-left: 10px;
	width: 164px;
	float: right;
}

.x-portal-widget-showcase-view {
	position: relative;
	height: 492px;
}

.x-portal-widget-showcase-view article {
	position: absolute;
	top: 0;
	left: 0;
	height: 492px;
	width: 656px;
	display: none;
}

.x-portal-widget-showcase-view-textblock {
	position: absolute;
	bottom:0;
	left: 0;
	padding: 10px;
	background-color: rgba(128, 128, 128, 0.6);
	color: white;
	width: 636px;
}

.x-portal-widget-showcase {
	position: relative;
}

.x-portal-widget-showcase IMG {
	width: 656px !important;
	height: 492px !important;
}

.x-portal-widget-showcase-textblock {
	position: absolute;
	bottom: 10px;
	width: 100%;
	background-color: rgba(128, 128, 128, 0.6);
	padding: 5px;
	color: white;
}

.x-portal-widget-showcase-textblock H1 {
	color: white !important;
	text-shadow: 2px 2px 0 gray;
}

.x-portal-widget-showcase-textblock H1:HOVER {
	color: red !important;
}

.x-portal-widget-showcase-navigation {
	margin-top: 6px;
	text-align: right;
}

.x-portal-widget-showcase-navigation div {
	margin-right: 8px;
	display: inline;
}

.x-portal-widget-showcase-navigation div a,
		.x-portal-widget-showcase-navigation div a:VISITED,
		.x-portal-widget-showcase-navigation div a:HOVER {
	margin-left: 8px;
	color: #FF0D0D;
}

.x-portal-widget-showcase-navigation a,
		.x-portal-widget-showcase-navigation a:VISITED,
		.x-portal-widget-showcase-navigation a:HOVER {
	color: #FF0D0D;
	font-weight: bolder;
}

.x-portal-widget-showcase-navigation div a.active {
}

.x-portal-widget-showcase-navigation div a.item::after {
	content: "\f111";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 14px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
	
.x-portal-widget-showcase-navigation div a.item.active::after {
	content: "\f10c";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 14px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
	
.x-portal-results-hyphen {
	text-align: center;
	width: 50px;
	background-color: #CB2225;
	color: white;
	font-weight: bold;
	border-top: 1px solid white;
}
.x-portal-results-left-club {
	width: 120px;
	max-width: 120px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden; 
	padding-right: 5px;
	text-align: center;
	font-size: 95%;
}

.x-portal-results-right-club {
	width: 120px;
	max-width: 120px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden; 
	padding-left: 5px;
	text-align: center;
	font-size: 95%;
}

.x-portal-results-date {
	text-align: center;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}
.x-portal-results-selectable {
	cursor: pointer;
}
.x-portal-results-selectable:HOVER {
	background-color: red;
	color: white;
}
