@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic&subset=latin,latin-ext);

#portal-main-container {
	background-color: silver;
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
	color: gray;
}

#portal-header-container {
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #CB2225;	
}

#portal-main-header {
	position: relative;
	width: 1006px;
	margin: 0 auto;
	background-color: #CB2225;
}

#portal-main-header h1{
	color: #ffffff;
	position: absolute;
	right: 0;
	bottom: 0;
}

#portal-club-logos-panel-container {
	background-color: white;
}

#portal-club-logos-panel-container {
	background-color: white;
}

#portal-club-logos-panel {
	width: 1006px;
	margin: 0 auto;
	display: table;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: white;
}

#portal-club-logos-panel .portal-club-logo {
	background-repeat: no-repeat;
	background-size: 26px 26px;
	background-position: center center;
	height: 30px;
	width: 30px;
	display: table-cell;
}

#portal-club-logos-panel .portal-club-logo:HOVER {
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: center center;
	height: 30px;
	width: 30px;
	display: table-cell;
}

#portal-club-logos-panel .portal-club-logo-1 {
		background-image: url("/portal/img/club1.jpg");
}
#portal-club-logos-panel .portal-club-logo-2 {
		background-image: url("/portal/img/club2.png");
}
#portal-club-logos-panel .portal-club-logo-3 {
		background-image: url("/portal/img/club3.png");
}
#portal-club-logos-panel .portal-club-logo-4 {
		background-image: url("/portal/img/club4.png");
}
#portal-club-logos-panel .portal-club-logo-5 {
		background-image: url("/portal/img/club5.png");
}
#portal-club-logos-panel .portal-club-logo-6 {
		background-image: url("/portal/img/club6.png");
}
#portal-club-logos-panel .portal-club-logo-7 {
		background-image: url("/portal/img/club7.png");
}
#portal-club-logos-panel .portal-club-logo-8 {
		background-image: url("/portal/img/club8.png");
}
#portal-club-logos-panel .portal-club-logo-9 {
		background-image: url("/portal/img/club9.png");
}
#portal-club-logos-panel .portal-club-logo-10 {
		background-image: url("/portal/img/club10.png");
}
#portal-club-logos-panel .portal-club-logo-11 {
		background-image: url("/portal/img/club11.png");
}
#portal-club-logos-panel .portal-club-logo-12 {
		background-image: url("/portal/img/club12.jpg");
}
#portal-club-logos-panel .portal-club-logo-13 {
		background-image: url("/portal/img/club13.png");
}
#portal-club-logos-panel .portal-club-logo-14 {
		background-image: url("/portal/img/club14.png");
}

#portal-menu-panel-container {
	background-color: #CB2225;
	border-top: 2px white solid;
	box-shadow: 0px 3px 3px gray;
}

#portal-menu-panel {
	width: 1006px;
	margin: 0 auto;
	padding-top: 0px;
	padding-bottom: 0px;
	color: white;
	
}

#portal-menu-panel .portal-menu-entry {
	display: inline-block;
	position: relative;
	padding-top: 2px;
	padding-bottom: 2px;
}

#portal-menu-panel .portal-menu-entry:last-child {
	display: inline-block;
	position: relative;

}

#portal-menu-panel .portal-menu-entry .portal-sub-menu {
	position: absolute;
	top: 100%;
	left: -0px;
	max-height: 0;
	overflow: hidden;
	margin-top: 0px;
	color: black;
	background-color: white;
	box-shadow: 3px 3px 10px gray;
	z-index: 3;
	transition: all 0.5s ease 0;
	-webkit-transition: all 0.5s ease 0;
}

#portal-menu-panel .portal-menu-entry .portal-sub-menu DIV {
	padding-right: 20px;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top: 1px silver solid;
	white-space: nowrap;
	cursor: pointer;
}

#portal-menu-panel .portal-menu-entry .portal-sub-menu DIV:hover {
	color: white;
	background: #CB2225;
}

#portal-menu-panel .portal-menu-entry .portal-sub-menu DIV:first-child {
	border-top: 4px red solid;
}

#portal-menu-panel .portal-menu-entry A {
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding-right: 20px;
	padding-left: 20px;
	cursor: pointer;
}

#portal-menu-panel .portal-menu-entry A:HOVER {
	text-decoration: none;
	font-weight: bold;
}

#portal-menu-panel .portal-menu-entry:HOVER .portal-sub-menu {
	max-height: 1000px;
	overflow: hidden;
	transition: all 0.5s ease 0.5s;
	-webkit-transition: all 0.5s ease 0.5s;
}

#portal-content-container {
	width: 1006px;
	margin: 0 auto;
	padding-top: 20px;
}

#portal-main-content {
	display: table-cell;
	vertical-align: top;
}

#portal-headlines-section {
	background-color: white;
	padding: 10px;
	display: inline-block;
	width: 634px;
	box-shadow: 0px 3px 3px gray;
	margin-bottom: 10px;
}


#portal-content-container H1 {
	padding-bottom: 10px;
	font-style: italic;
	font-size: 180%;
	color: #CB2225;
	text-decoration: none;
}

#portal-content-container .abstract {
	font-style: italic;
	font-size: 120%;
}

#portal-content-container A {
	text-decoration: none;
	cursor: pointer;
}

#portal-side-content {
	display: table-cell;
	vertical-align: top;
	padding-left: 10px;
}

.portal-side-panel {
	background-color: white;
	padding: 10px;
	width:320px;
	box-shadow: 0px 3px 3px gray;
	margin-bottom: 10px;
}

.portal-side-panel HEADER {
	background-color: #CB2225;
	color: white;
	font-weight: bold;
	padding: 5px;
	border-bottom: 4px red solid;
}

.portal-side-panel .rowtable TR:HOVER {
	cursor: pointer;
	background-color: #CB2225;
	color: white;
	border-color: red;
}

.portal-side-panel .celltable TD:HOVER {
	cursor: pointer;
	background-color: #CB2225;
	color: white;
	border-color: red;
}

#footer-container {
	padding-top: 0;
	padding-bottom: 2px;
	background-color: #CB2225;	
	border-top: 2px red solid;
	color: white;
}

#main-footer {
	position: relative;
	width: 916px;
	margin: 0 auto;
	background-color: #CB2225;
}

#portal-article {
	background-color: white;
	padding: 10px;
	display: inline-block;
	width: 676px;
	box-shadow: 0px 3px 3px gray;
	margin-bottom: 10px;
}

#portal-article H1 {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 180%;
	margin-left: 0;
	font-style: normal;
}
#portal-article .abstract {
	padding-bottom: 20px;
	font-style: italic;
	font-size: 120%;
	text-align: justify;
}

#portal-article img {
	padding-bottom: 10px;
}

.x-portal-widget-category ARTICLE {
	padding-top: 10px;
	padding-bottom: 10px;
}

.x-portal-widget-category H1 {
	margin-bottom: 0;
	font-size: 140% !important;
	padding-top: 0 !important;
}

.x-portal-widget-category H1:HOVER {
	color: red !important;
}

.x-portal-widget-category IMG {
	margin-left: 10px;
}

.x-portal-widget-showcase {
	position: relative;
}

.x-portal-widget-showcase IMG {
	width: 656px !important;
	height: 492px !important;
}

.x-portal-widget-showcase-textblock {
	position: absolute;
	bottom: 10px;
	width: 100%;
	background-color: rgba(128, 128, 128, 0.6);
	padding: 5px;
	color: white;
}

.x-portal-widget-showcase-textblock H1 {
	color: white !important;
	text-shadow: 2px 2px 0 gray;
}

.x-portal-widget-showcase-textblock H1:HOVER {
	color: red !important;
}

.x-portal-results-hyphen {
	text-align: center;
	width: 50px;
	background-color: #CB2225;
	color: white;
	font-weight: bold;
	border-top: 1px solid white;
}
.x-portal-results-left-club {
	width: 120px;
	max-width: 120px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden; 
	padding-right: 5px;
	text-align: center;
	font-size: 95%;
}

.x-portal-results-right-club {
	width: 120px;
	max-width: 120px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden; 
	padding-left: 5px;
	text-align: center;
	font-size: 95%;
}

.x-portal-results-date {
	text-align: center;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}
